<div id="page-header">
    <header>
        <div class="container">
            <div class="secondary-nav">
                <div class="nav-trigger"><a data-toggle="collapse" href="#secondary-nav" aria-expanded="false" aria-controls="secondary-nav"><i class="fa fa-user"></i></a></div>
                <div id="secondary-nav">
                    <nav>
                        <div class="left opacity-60">
                            <a href="mailto:hello@example.com"><i class="fa fa-envelope"></i>hello@example.com</a>
                        </div>
                        <!--end left-->
                        <div class="right">

                          <% if user_signed_in? %>
                            <div class="element" id="div-email-id">
                              <a href="#" id="email_id"><%= current_user.email %></a>
                            </div>
                            <!--end element-->
                            <div class="element" id="div-logout">
                                <%= link_to "로그아웃", destroy_user_session_path, method: :delete, data: { confirm: "Are you sure?" } %>
                            </div>
                            <!--end element-->
                          <% else %>
                            <div class="element" id="div-sign-in">
                              <%= link_to "로그인", new_user_session_path %>
                            </div>
                            <!--end element-->
                            <div class="element" id="div-register">
                                <%= link_to "회원가입", new_user_registration_path %>
                            </div>
                            <!--end element-->
                          <% end %>
                        </div>
                        <!--end right-->
                    </nav>
                </div>
            </div>
            <!--end secondary-nav-->
        </div>
        <!--end container-->

        <!--start login, join Modal-->

        <!--end login, join Modal-->

        <hr>
        <div class="container">
            <div class="primary-nav">
                <div class="left">
                    <a href="/index" id="brand"><img src="<%= asset_path ('logo.png') %>" alt=""></a>
                    <a class="nav-trigger" data-toggle="collapse" href="#primary-nav" aria-expanded="false" aria-controls="primary-nav"><i class="fa fa-navicon"></i></a>
                </div>
                <!--end left-->
                <div class="right" >
                    <nav id="primary-nav">
                        <ul>
                            <li><a href="/index">Home</a></li>
                            <li><a href="/about_us">About Us</a></li>
                            <li><a href="/posts">주우러가기</a></li>
                            <li><a href="/contact_us">질문하기</a></li>
                        </ul>
                    </nav>
                    <!--end nav-->
                </div>
                <!--end right-->
            </div>
            <!--end primary-nav-->
        </div>
        <!--end container-->
    </header>
    <!--end header-->
</div>
<!--end page-header-->

<script type="text/javascript">
var signIn = document.getElementById('div-sign-in');
var register = document.getElementById('div-register');

signIn.onclick = function(){
  document.getElementById('li-sign-in').setAttribute('class', "active");
  document.getElementById('li-register').removeAttribute('class');
  document.getElementById('tab-register').removeAttribute('class');
  document.getElementById('tab-register').setAttribute("class", "tab-pane fade");
  document.getElementById("tab-sign-in").setAttribute("class","tab-pane fade active in");
};

register.onclick = function(){
  document.getElementById('li-register').setAttribute('class', "active");
  document.getElementById('li-sign-in').removeAttribute('class');
  document.getElementById('tab-sign-in').removeAttribute('class');
  document.getElementById('tab-sign-in').setAttribute("class", "tab-pane fade");
  document.getElementById("tab-register").setAttribute("class","tab-pane fade active in");
};
</script>
