<!DOCTYPE html>

<html lang="en-US">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="ThemeStarz">

    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,900,400italic' rel='stylesheet' type='text/css'>
    <link href="assets/fonts/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="assets/fonts/elegant-fonts.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="assets/css/zabuto_calendar.min.css" type="text/css">
    <link rel="stylesheet" href="assets/css/owl.carousel.css" type="text/css">
    <link rel="stylesheet" href="assets/css/style.css" type="text/css">

    <link rel="stylesheet" href="assets/css/bootstrap-rtl.min.css" type="text/css">
    <link rel="stylesheet" href="assets/css/bootstrap-select.min.css" type="text/css">
    <link rel="stylesheet" href="assets/css/datapicker.css" type="text/css">
    <link rel="stylesheet" href="assets/css/jquery.datapick.css" type="text/css">
    <link rel="stylesheet" href="assets/css/owl.carousel.css" type="text/css">
</head>
<body>
<div class="page-wrapper">

    <div style="margin:70px">
    </div>

    <div id="page-content">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                  <!--side share-->
                </div>
                <!--end col-md-3-->
                <div class="col-md-9 col-sm-8">
                    <div class="main-content">
                        <div class="title">
                            <div class="left">
                                <h1><%= @post.title %><span class="rating"><i class="fa fa-star"></i>9.9</span></h1>
                                <h2 align="right"><a href="/posts" class="btn btn-primary btn-rounded scroll">리스트로가기</a></h2>

                            </div>
                            <div class="right">
                                <a href="http://shopping.naver.com/search/all.nhn?query=<%=@post.title %>&cat_id=&frm=NVSHATC" class="btn btn-primary btn-rounded scroll">네이버쇼핑 하러가기</a>
                            </div>
                        </div>
                        <!--end title-->
                        <div class="image">
                            <img src="assets/img/items/sample1.png" alt="">
                        </div>
                        <hr>
                        <section id="additional-information">
                            <h2>선물받는 사람</h2>
                            <dl class="info">
                                <dt>성별:</dt>
                                <dd>남자</dd>
                                <dt>연령대:</dt>
                                <dd>20대</dd>
                                <dt>기념일종류:</dt>
                                <dd>1주년</dd>
                                <dt>구입가격:</dt>
                                <dd>267,000원</dd>
                                <dt>점수</dt>
                                <dd><i class="fa fa-star"></i>5</dd>
                            </dl>
                            <!--end info-->
                        </section>
                        <!--end 선물받는사람프로필-->
                        <section>
                            <%= @post.content %>
                        </section>
                        <!--end 내용-->
                        <hr>
                        <section id="reviews">
                          <div class="title">
                              <span class="pull-left" style="font-size:20px;">평점<a class="review-rating"><i class="fa fa-star"></i>1</a>/ 총 <a class="review-count"><%= @post.replies.count %></a>건의 의견</span>
                              <span class="pull-right"><a href="#write-a-review" class="btn btn-primary btn-rounded pull-right scroll">의견달기</a></span>
                          </div>
                          <% @post.replies.each do |r| %>
                            <div class="reviews">
                                <div class="review">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <aside class="name">유저이름</aside>
                                            <aside class="date">댓글작성일</aside>
                                            <aside class="rating" name="point_of_re"><i class="fa fa-star" style="margin-right: 5px"></i>10</aside>
                                        </div>
                                        <!--end col-md-2-->
                                        <div class="col-md-10">
                                            <div class="comment">
                                                <p><%= r.re_content %></p>
                                                <div class="clearfix options">
                                                    <span class="pull-right">공감하기<a href="" class="btn btn-framed btn-default btn-rounded btn-small icon" style="margin-left: 10px;"><i class="fa fa-thumbs-up font-color-default"></i>10</a></span>
                                                </div>
                                                <!--end options-->
                                            </div>
                                            <!--end comment-->
                                        </div>
                                        <!--end col-md-10-->
                                    </div>
                                    <!--end row-->
                                </div>
                                <!--end review-->
                            </div>
                            <!--end reviews-->
                          <% end %>
                        </section>
                        <!--end 댓글&평점-->
                        <section id="write-a-review">
                            <form class="labels-uppercase clearfix" action="/board/reply_create" method="POST" id="form_reply_1">
                                <div class="alert alert-dark fade in center" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" data-switch="#review-write">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <span class="sr-only">Error:</span>
                                    <a href="/users/sign_in" data-toggle="modal" data-tab="true" data-target="#sign-in-register-modal">의견을 달기위해선 로그인이 필요합니다.</a>
                                </div>
                                <div class="review write switch" id="review-write">
                                    <aside class="name">의견달기</aside>
                                    <input type="hidden" value="<%= @post.id %>" name="post_of_re">
                                    <div class="comment">
                                        <div class="row">
                                            <div class="form-group">
                                                <label for="form_reply_1-rating">별점</label>
                                                <a class="star-rating active" name="cleanliness"></a>
                                            </div>
                                            <div class="form-group">
                                                <label for="form_reply_1-message">의견</label>
                                                <textarea class="form-control" id="form_reply_1-message" rows="3" name="content_of_re" required="" placeholder="이 선물에 대한 의견을 달아주세요."></textarea>
                                            </div>
                                            <!--end form-group-->
                                            <div class="form-group pull-right">
                                                <button type="submit" class="btn btn-primary btn-rounded">확인</button>
                                            </div>
                                            <!--end form-group-->
                                        </div>
                                        <!--end row-->
                                    </div>
                                    <!--end comment-->
                                </div>
                                <!--end review-->
                            </form>
                            <!--end form-->
                        </section>
                        <!--end 댓글달기-->
                    </div>
                    <!--end main-content-->
                </div>
                <!--end col-md-9-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </div>
    <!--end page-content-->
</div>
<!--end page-wrapper-->
<a href="#page-header" class="to-top scroll" data-show-after-scroll="600"><i class="arrow_up"></i></a>

<!-- 왼쪽밑에 팝업뜨게 하는 것!
<div class="message-popup bottom-left" data-show-after-time="2000" data-close-after-time="5000">
    <div class="close"><i class="fa fa-times"></i></div>
    <p>15 people are watching this accommodation.</p>
</div>

<div class="message-popup bottom-left featured" data-show-after-time="4000" data-close-after-time="5000">
    <div class="close"><i class="fa fa-times"></i></div>
    <div class="title">Just Booked!</div>
    <p>Hurry up! This accommodation was just booked. Don’t miss the chance!</p>
</div>

<div class="message-popup bottom-left" data-show-after-time="5000" data-close-after-time="5000">
    <div class="close"><i class="fa fa-times"></i></div>
    <p>Last booking was from <strong>France</strong></p>
</div>
-->

</body>
