<!DOCTYPE html>
<html>
<head>
  <title>OdaPick</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag :all %>
  <!-- 디바이스별로 동적인 레이아웃을 제대로 보이도록 하기 위해서 화면의 스케일을 보정하기 위한 것 -->

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
  <!--반드시 제이쿼리 스크립트는  아래 maxcdn 위에추가해줘여한다 그러나 레일즈는 기본으로 제이쿼리를 지원한다-->

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="ThemeStarz">

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

  <link href="assets/fonts/font-awesome.css" rel="stylesheet" type="text/css">
  <link href='https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css' rel='stylesheet' type='text/css'>
  <!--font from : http://theeluwin.github.io/NotoSansKR-Hestia/ -->
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.css" type="text/css">
  <link rel="stylesheet" href="assets/css/style.css" type="text/css">

  <link href="assets/fonts/elegant-fonts.css" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="assets/css/zabuto_calendar.min.css" type="text/css">
  <link rel="stylesheet" href="assets/css/owl.carousel.css" type="text/css">


  <!-- main page 이미지 javascript -->
  <script type="text/javascript" src="assets/js/custom.js"></script>


</head>
<body>
  <!--start page-content-->
  <%= render "shared/header" %>

  <%= yield %>

  <!--end page-content-->
  <%= render "shared/footer" %>

  <script type="text/javascript" src="assets/js/jquery-2.2.1.min.js"></script>
  <script type="text/javascript" src="assets/js/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&libraries=places"></script>
  <script type="text/javascript" src="assets/js/infobox.js"></script>
  <script type="text/javascript" src="assets/js/markerclusterer_packed.js"></script>
  <script type="text/javascript" src="assets/js/richmarker-compiled.js"></script>
  <script type="text/javascript" src="assets/js/markerwithlabel_packed.js"></script>
  <script type="text/javascript" src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="assets/js/jquery.validate.min.js"></script>
  <script type="text/javascript" src="assets/js/bootstrap-datepicker.js"></script>
  <script type="text/javascript" src="assets/js/icheck.min.js"></script>
  <script type="text/javascript" src="assets/js/owl.carousel.js"></script>
  <script type="text/javascript" src="assets/js/masonry.pkgd.min.js"></script>

  <script type="text/javascript" src="assets/js/maps.js"></script>
  <script type="text/javascript" src="assets/js/custom.js"></script>

  <script type="text/javascript" src="http://maps.google.com/maps/api/js"></script>
  <script type="text/javascript" src="assets/js/jquery.simpleWeather.min.js"></script>

<<<<<<< HEAD
  <!-- 추가한 javascript -->
  <script type="text/javascript" src="assets/js/slider.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>

  <!--[if lte IE 9]>
  <script src="assets/js/ie.js"></script>
  <![endif]-->


  <script>
    var _latitude = 48.47292127;
    var _longitude = 4.28672791;
    var element = "map-item";
    var useAjax = true;
    bigMap(_latitude,_longitude, element, useAjax);
  </script>

=======
>>>>>>> 696cd81faee3b374bd3151ac1fb1a9eef0bb0c74
</body>
</html>
